<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Title</title>
</head>
<body>

<form action="" method="post">
    <label for="id">Id</label>
    <input type="text"id="id">

    <label for="nombre">Nombre</label>
    <input type="text"id="nombre">

    <label for="correo">Correo</label>
    <input type="text"id="correo">

    <label for="rol">Rol</label>
    <input type="text"id="rol">

    <label for="f_ing">Fecha de ing empleado</label>
    <input type="text"id="f_ing">

    <label for="f_actu">Fecha actualizaciones</label>
    <input type="text"id="f_actu">

    <label for="fun">Funcion</label>
    <input type="text"id="fun">
</form>

</body>
</html>