<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form th:action="@{/o}" method="post">

    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" th:${o.nombre}>

    <label for="correo">Correo</label>
    <input type="text" id="correo" th:${o.correo}>


    <input type="submit" value="Crear">

</form>

<a href="/">regresar</a>
</body>
</html>